h3{
    color: crimson;
    background-color: rgb(209, 179, 237);
    text-align: center;
}
.Lorem{
    color: cornflowerblue;
    background-color: rgb(12, 27, 12);
    
}
.Show{
    text-align: center;
    color: brown;
    background-color: blanchedalmond;
}